name: Android Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      ANDROID_SDK_ROOT: ${{ github.workspace }}/android-sdk
      JAVA_HOME_17_X64: /opt/hostedtoolcache/Java_Temurin-Hotspot_jdk/17.0.17-10/x64
      PATH: $PATH:${{ github.workspace }}/android-sdk/cmdline-tools/latest/bin:$JAVA_HOME_17_X64/bin

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install required system packages
        run: sudo apt-get update && sudo apt-get install -y unzip tar wget

      - name: Ensure Gradle Wrapper is executable
        run: chmod +x ./android/gradlew

      - name: Accept all Android SDK licenses
        run: yes | ${{ github.workspace }}/android-sdk/cmdline-tools/latest/bin/sdkmanager --licenses

      - name: Install SDK components
        run: |
          sdkmanager "platform-tools" "platforms;android-34" "build-tools;34.0.0" "ndk;25.2.9519653"

      - name: Build Debug APK
        working-directory: ./android
        run: ./gradlew assembleDebug --no-daemon

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: SF64RCA-debug-apk
          path: ./android/app/build/outputs/apk/debug/app-debug.apk