name: Android Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      ANDROID_SDK_ROOT: ${{ github.workspace }}/android-sdk
      JAVA_HOME: /opt/hostedtoolcache/Java_Temurin-Hotspot_jdk/17.0.17-10/x64
      PATH: ${{ github.workspace }}/android-sdk/cmdline-tools/latest/bin:$PATH

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Android SDK
        run: |
          mkdir -p $ANDROID_SDK_ROOT
          sdkmanager --install "platform-tools" "platforms;android-34" "build-tools;34.0.0" "ndk;25.2.9519653" || true
          yes | sdkmanager --licenses

      - name: Make Gradle Wrapper Executable
        run: chmod +x ./android/gradlew

      - name: Build Debug APK
        working-directory: ./android
        run: ./gradlew assembleDebug

      - name: Upload Debug APK
        uses: actions/upload-artifact@v4
        with:
          name: SF64RCA-debug-apk
          path: ./android/app/build/outputs/apk/debug/app-debug.apk